obj/Debug/net8.0/proyecto-pokemon.AssemblyInfo.cs
obj/Debug/net8.0/proyecto-pokemon.AssemblyInfoInputs.cache
bin/Debug/net8.0/proyecto-pokemon.dll
obj/Debug/net8.0/refint/proyecto-pokemon.dll
obj/Debug/net8.0/ref/proyecto-pokemon.dll
obj/Debug/net8.0/proyecto-pokemon.sourcelink.json
obj/Debug/net8.0/proyecto-pokemon.pdb
obj/Debug/net8.0/proyecto-pokemon.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/proyecto-pokemon.dll
obj/Debug/net8.0/proyecto-pokemon.assets.cache
obj/Debug/net8.0/apphost.exe
bin/Debug/net8.0/proyecto-pokemon.pdb
bin/Debug/net8.0/proyecto-pokemon.exe
